body {
    background-image:none;
    background-color:#222222;
    background-position:middle;
    background-repeat:no-repeat;
    background-size:auto;
    margin: 10px;
}

h1 {
    color:#888888;
    font-family:Roboto, sans-serif;
    font-size:30px;
    font-style:normal;
    font-weight:bold;
    line-height:150%;
    letter-spacing:normal;
    text-align:center;
    letter-spacing: 2px;
    white-space: pre-line;
}

h2 {
    color:#2288DD;
    font-family:Roboto, sans-serif;
    font-size:24px;
    font-style:normal;
    font-weight:bold;
    line-height:150%;
    letter-spacing:normal;
    text-align:left;
    white-space: pre-line;
}

h3 {
    text-align: left;
    color:#888888;
    font-family:Roboto, sans-serif;
    font-size:20px;
    font-style:normal;
    font-weight:bold;
    line-height:150%;
    letter-spacing:normal;
    text-align:left;
    white-space: pre-line;
}

p {
    color:#888888;
    font-family:Roboto, sans-serif;
    font-size:16px;
    line-height:125%;
    text-align:left;
    white-space: pre-line;
}

.header {
    color: #888888;
}
.header em {
    color: red;
    font-style: normal;
}

.number{
    color: #44AAFF;
}

.description {
    color: #888888;
}

.description em {
    color: #44AAFF;
    font-style: normal;
}

#templateHeader{
    background-color:#transparent;
    background-image:none;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    border-top:0;
    border-bottom:0;
    padding-top:0;
    padding-bottom:0;
}

.important {
    color:#2288DD;
    font-family:Roboto, sans-serif;
    font-size:16px;
}